references/Blackwell Companion to Syntax_syncon/bpgdtd/Panorama/isobook.dtd

<!-- This is an extended subset of the ISO 12083 BOOK DTD: Its public identifier is
       
      -//Synex Information AB//DTD Manual Version 1.0//EN

-->
<!-- ===================================================================== -->
<!--    PUBLIC DOCUMENT TYPE DEFINITION SUBSET                             -->
<!-- ===================================================================== -->
<!>
<!ENTITY % ISOnum PUBLIC "ISO 8879:1986//ENTITIES Numeric and Special Graphic//EN">
%ISOnum; 
<!ENTITY % ISOpub PUBLIC "ISO 8879:1986//ENTITIES Publishing//EN">
%ISOpub;
<!ENTITY % ISOlat1 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 1//EN">
%ISOlat1;
<!ENTITY % ISOgrk1 PUBLIC "ISO 8879:1986//ENTITIES Greek Letters//EN">
%ISOgrk1;
 
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Minimal HyTime Support                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<?HyTime VERSION "ISO/IEC 10744:1992" HQCNT=32                               >
<?HyTime MODULE base                                                         >
<?HyTime MODULE locs multloc                                                 >
<?HyTime MODULE links                                                        >


<!-- ===================================================================== -->
<!--    Entity Naming Conventions                                          -->
<!-- ===================================================================== -->

<!-- Prefix = where used:
     p.  = in paragraphs (also in phrases if .ph suffix)
     s.  = in sections (i.e., among paragraphs)
     i.  = where allowed by inclusion exceptions
     m.  = content model or declared content
     a.  = attribute definition
     NONE= specific use defined in models

     Suffix = allowed content:
     .ph = elements whose content is %m.ph;
     .d  = elements whose content has same model as defaults
     .zz = for subelements
     NONE= individually defined elements                                
  -->

<!ENTITY % doctype  "book" -- default document type generic identifier     -->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Specialized Elements                                               -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % ade.ph   "street|city|state|country|postcode|email|phone|fax"   -- 
                     address elements -->
<!ENTITY % bib      "author|corpauth|location|date|pages|subject|othinfo"  --
                     bibliographic, date is the publication date-->

<!-- The following 5 declarations are specific to Books                    -->
<!ENTITY % bmsec.d  "afterwrd|notes" -- back matter sections               -->
<!ENTITY % bmsec.i  "glossary|index" -- indexes and glossary               -->
<!ENTITY % fmsec.d  "foreword|intro|preface|ack|ded|abstract|supmatl"
                                             -- front matter sections      -->
<!ENTITY % pub      "sponsor|contract+|cpyrt|date|pubname|location|avail"  --
                    pubfront, date is publication date   -->
<!ENTITY % pub.ph   "isbn|edition|volid|catalog|pubid" 
                    -- publication related front matter material           -->


<!-- ===================================================================== -->
<!--    Basic Document Elements                                            -->
<!-- ===================================================================== -->

<!ENTITY % i.float  "figgrp|footnote|note"            -- floating elements -->
<!ENTITY % p.el     "deflist|orgaddr|artwork|bq|lit|rlit|date|biblist|
                    author|corpauth|keyword|keyphras|poem|nameloc|indxflag" 
                    -- general                                             -->
<!ENTITY % p.em.ph  "emph" -- emphasis                                     -->
<!ENTITY % p.lst.d  "list" -- list                                         -->

<!-- The following declaration is specific to Books                        -->
<!ENTITY % p.rf.ph  "noteref|fnoteref|figref|tableref|artref|appref|citeref|
                    secref|formref|glosref|indexref" -- references         -->

<!ENTITY % p.tbl    "table" -- table matter                                -->
<!ENTITY % p.form   "formula|dformula|dformgrp" -- mathematical formulas   -->
<!ENTITY % p.zz     "(%p.el;)|(%p.tbl;)|(%p.lst.d;)|(%p.form;)" -- paragraph 
                    subelements                                            -->
<!ENTITY % p.zz.ph  "q|pages|(%p.em.ph;)|(%p.rf.ph;)" -- phrases           -->
<!ENTITY % s.zz     "p|(%p.zz;)" -- section subelements                    -->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--     Models                                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % m.addr  "(%ade.ph;)*" -- address (no name)                      -->
<!ENTITY % m.bib   "(no?, title, (%bib;)*)" -- bibliographic entry         -->
<!ENTITY % m.copy  "(date|cpyrtnme|cpyrtclr)+" -- copyright notice data    -->
<!ENTITY % m.date  "(#PCDATA)" -- date                                     -->
<!ENTITY % m.fig   "EMPTY" -- default FIG content                          -->
<!ENTITY % m.sec   "(title?, (%s.zz;)*, section*)" -- section              -->
<!ENTITY % m.name  "((fname? & surname), (degree|school)*, role*,(%ade.ph;)*, 
                   aff?)"  -- name components                              -->
<!ENTITY % m.org   "(orgname, orgdiv*, %m.addr;)" -- organization name     -->
<!ENTITY % m.ph    "(#PCDATA|(%p.zz.ph;)|(%p.form;))*" -- phrase model     -->
<!ENTITY % m.pseq  "(p, (p|(%p.zz;))*)" -- P with sequence                 -->
<!ENTITY % m.poem  "(stanza+|poemline+)" -- poetry sub-elements            -->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--     Attribute Definitions                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % a.id    "id ID #IMPLIED" -- ID attribute definition             -->
<!ENTITY % a.rid   "rid IDREF #REQUIRED" -- IDREF attribute definition     -->
<!ENTITY % au.rid  "rids IDREFS #IMPLIED" -- to refer to a unique id of
                                             an affiliation                -->
<!ENTITY % a.sizes "sizex NUTOKEN #IMPLIED 
                    sizey NUTOKEN #IMPLIED 
                    unit CDATA #IMPLIED"
                    -- unit must be specified if sizex or sizey are.       -->
<!ENTITY % a.types "(latin|greek|cyrillic|hebrew|kanji) latin"
                    -- Indicates which alphabet is used in the element 
                    (title, p, q). This may be changed to a notation 
                    attribute, where the notation could describe a keyboard 
                    mapping. Modify the set as necessary.                  -->
<!ENTITY % d.types "(1|2|3|4|5) #IMPLIED"
                    -- Suggestions for date types:
                    1=ISO 8601:1988, 2=mm-dd-yy, 3=mm/dd/yy, 4=dd-mm-yy,
                    5=month day year; if more needed (e.g. day month year) 
                    modify or extend this list as necessary.               -->
<!ENTITY % e.types "(1|2|3|4|5|6) #IMPLIED"
                    -- Suggestions for emphasis types:
                    1=bold, 2=italic, 3=bold italic, 4=underline, 
                    5=non proportional, 6=smallcaps; if more needed 
                    modify or extend this list as necessary.               -->
<!ENTITY % l.types "(1|2|3|4|5|6) #IMPLIED"
                    -- Suggestions for list types:
                    1=arabic, 2=uppercase alpha, 3=roman, 4=bullet, 5=dash,
                    6=unlabelled; if more needed (e.g. lower alpha)
                    modify or extend this list as necessary.               -->

<!-- The following 2 declarations are specific to Books                    -->  

<!ENTITY % m.idx    "(%m.sec;|((indxname|indxsubj)*,pages*))" 
                    -- model for indexes and glossary                      -->
<!ENTITY % m.toc    "EMPTY" -- table of contents; automatic generation
                    assumed, add a specific content model if required      -->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--        Accessible Document Parameter Entities                         -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % SDAFORM  "SDAFORM   CDATA    #FIXED"                              >
<!ENTITY % SDARULE  "SDARULE   CDATA    #FIXED"                              >
<!ENTITY % SDAPREF  "SDAPREF   CDATA    #FIXED"                              >
<!ENTITY % SDASUFF  "SDASUFF   CDATA    #FIXED"                              >
<!ENTITY % SDASUSP  "SDASUSP   NAME     #FIXED"                              >


<!-- ===================================================================== -->
<!--    DATA CONTENT NOTATIONS                                             -->
<!-- ===================================================================== -->

<!-- These are examples. Add other public notations as required.           -->

<!NOTATION eps      PUBLIC 
"+//ISBN 0-201-18127-4::Adobe//NOTATION Postscript Language Reference
 Manual//EN"                                                                 >
<!NOTATION tex      PUBLIC
"+//ISBN 0-201-13448-9::Knuth//NOTATION The TeXbook//EN"                     >
<!NOTATION cgmchar  PUBLIC     "ISO 8632/2//NOTATION Character encoding//EN" >
<!NOTATION cgmclear PUBLIC     "ISO 8632/4//NOTATION Clear text encoding//EN">
<!NOTATION tiff     PUBLIC     "ISO 12083:1993//NOTATION TIFF-1//EN"         >


<!-- ===================================================================== -->
<!--    THE DOCUMENT STRUCTURE                                             -->
<!-- ===================================================================== -->

<!--       ELEMENT             MIN  CONTENT               (EXCEPTIONS)     -->
<!ELEMENT (%doctype;)          - -  (front, body, appmat?, back?)  
                                                         +(%i.float;)        >


<!-- ===================================================================== -->
<!--     FRONT MATTER ELEMENTS                                             -->
<!-- ===================================================================== -->

<!-- The following 2 declarations are specific to Books                    -->
<!ELEMENT front                O O  (titlegrp, authgrp, date?, pubfront?,
                                    (%fmsec.d;)*, toc?)                      >
<!ELEMENT (%fmsec.d;)          - O  %m.sec;                                  >                                  


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Title Group                                                        -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT titlegrp             O O  (msn?, sertitle?, no?, title, subtitle?) >
<!ELEMENT (title|subtitle)     - O  %m.ph;                                   >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Author Group                                                       -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT authgrp              O O  (author|corpauth|aff)*                   >
<!ELEMENT author               - O  %m.name;                                 >
<!ELEMENT (fname|surname|role|degree|orgname|orgdiv) 
                               - O  (#PCDATA)                                >
<!ELEMENT (aff|corpauth|school)
                               - O  %m.org;                                  >
<!ELEMENT (%ade.ph;)           - O  (#PCDATA)                                >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Publisher's Front Matter                                           -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT pubfront             - O  (infogrp,((%pub;)|(%pub.ph;))*)          > 
<!ELEMENT (%pub.ph;|contract)  - O  (#PCDATA)                                > 
<!ELEMENT (pubname|avail|sponsor)      
                               - O  %m.org;                                  >
<!ELEMENT reprint              - O  (%m.org;|%m.name;)                       >
<!ELEMENT infogrp              - O  (deflist+)                      +(cpyrt) >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Copyright                                                          -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT cpyrt                - -  %m.copy;                                 >
<!ELEMENT cpyrtclr             - -  %m.org;                                  >
<!ELEMENT cpyrtnme             - -  (%m.org;|%m.name;)                       >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--   Conference Group                                                    -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT confgrp              - -  (no?, confname, date?, location?, 
                                    sponsor?)                                >
<!ELEMENT confname             - O  (#PCDATA)                                >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Date                                                               -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT date                 - O  %m.date;                                 >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Table of Contents                                                  -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT toc                  - O  %m.toc;                                  >


<!-- ===================================================================== -->
<!--    BODY ELEMENTS                                                      -->
<!-- ===================================================================== -->

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Body Structure                                                     -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT body                 O O  (part+|chapter+)                         >
<!ELEMENT part                 - O  (no?, title?, (%s.zz;)*, chapter+)       >
<!ELEMENT chapter              - O  (no?, %m.sec;)                           >
<!ELEMENT section              - O  (no?, title?, (%s.zz;)*, subsect1*)      > 
<!ELEMENT subsect1             - O  (no?, title?, (%s.zz;)*, subsect2*)      >
<!ELEMENT subsect2             - O  (no?, title?, (%s.zz;)*, subsect3*)      >
<!ELEMENT subsect3             - O  (no?, title?, (%s.zz;)*, subsect4*)      >
<!ELEMENT subsect4             - O  (no?, title?, (%s.zz;)*, subsect5*)      >

<!ELEMENT subsect5             - O  (no?, title?, (%s.zz;)*, subsect6*)      >
<!ELEMENT subsect6             - O  (no?, title?, (%s.zz;)*)                 >
<!ELEMENT no                   - O  (#PCDATA)                                >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Section Subelements                                                -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT p                    - O  (#PCDATA|(%p.zz.ph;)|(%p.zz;))*          >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Paragraph Subelements                                              -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT bq                   - -  %m.pseq;                                 >
<!ELEMENT indaddr              - O  %m.name; -- individual address         -->
<!ELEMENT orgaddr              - O  %m.org;  -- organization address       -->
<!ELEMENT artwork              - O  EMPTY                                    >

<!ELEMENT lit                  - -  CDATA                                    >
<!ELEMENT rlit                 - -  RCDATA                                    >


<!ELEMENT (%p.lst.d;)          - -  (head?, item)*                           >
<!ELEMENT item                 - O  %m.pseq;                                 >

<!ELEMENT deflist              - -  ((head, ddhd)?, term, dd)*               >
<!ELEMENT (term|head|ddhd)     - O  %m.ph;                                   >
<!ELEMENT dd                   - O  %m.pseq;                                 >

<!ELEMENT biblist              - O  (head?, citation)*                       >
<!ELEMENT citation             - O  %m.bib;                                  >
<!ELEMENT (othinfo|subject|sertitle)        
                               - O  %m.ph;                                   >

<!ELEMENT location             - O  %m.addr;                                 >
<!ELEMENT (msn|pages)          - O  (#PCDATA)                                >
<!ELEMENT keyword              - O  (#PCDATA)                                >
<!ELEMENT keyphras             - O  (#PCDATA)                                >
<!ELEMENT indxflag             - O  EMPTY                                    >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Poetry                                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT poem                 - O  %m.poem;                                 >
<!ELEMENT stanza               - O  (poemline)+                              >
<!ELEMENT poemline             - O  (#PCDATA|cline|%p.em.ph;)*               >
<!ELEMENT cline                - O  (#PCDATA|%p.em.ph;)*                     >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Phrases                                                            -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT q                    - -  %m.ph;                                   >
<!ELEMENT (%p.em.ph;)          - -  %m.ph;                                   >
<!ELEMENT (%p.rf.ph;)          - -  (%m.ph;)                                 >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    For HyTime Links                                                   -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT nameloc              - O (nmlist*) -- assigns a local ID to 
                                   named objects                           -->
<!ELEMENT nmlist               - O (#PCDATA) -- list of local ID or entity
                                   names                                   -->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Floating Elements                                                  -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT figgrp               - -  (title? & fig* )                         >
<!ELEMENT fig                  - O  %m.fig;                                  >
<!ELEMENT footnote             - -  (no?, %m.pseq;)           -(%i.float;)   >
<!ELEMENT note                 - -  (no?, %m.pseq;)                          > 


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Tables                                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT table                - -  (no?, title?, tbody)      -(%i.float;)   >
<!ELEMENT tbody                - O  (head*, tsubhead*, row*)                 >
<!ELEMENT row                  - O  (tstub?, cell*)                          >
<!ELEMENT tsubhead             - O  %m.ph;                                   >
<!ELEMENT (tstub|cell)         - O  %m.pseq;                                 >


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Mathematics                                                        -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % maths PUBLIC "ISO 12083:1993//DTD Mathematics//EN"                >
%maths;

<!-- ===================================================================== -->
<!--    APPENDIX ELEMENTS                                                  -->
<!-- ===================================================================== -->

<!ELEMENT appmat               - O  (appendix+)                              >
<!ELEMENT appendix             - O  (no?, %m.sec;)                           >


<!-- ===================================================================== -->
<!--    BACK MATTER ELEMENTS                                               -->
<!-- ===================================================================== -->

<!-- The following 3 declarations are specific to Books                    -->
<!ELEMENT back                 - O  ((%bmsec.d;)|(%bmsec.i;)|biblist)*       >
<!ELEMENT (%bmsec.d;)          - O  %m.sec;                                  >
<!ELEMENT (%bmsec.i;)          - O  %m.idx;                                  >

<!ELEMENT (indxname|indxsubj)  - O  (#PCDATA)                                >


<!-- ===================================================================== -->
<!--    ATTRIBUTE DEFINITION LISTS                                         -->
<!-- ===================================================================== -->

<!-- HyTime attributes were added to all references, 
     the citation and doclink elements                                     -->

<!-- The SGML Document Access attributes for Braille, large print
and voice synthesis markup have been added to the attributes already
declared in this DTD in the first section following, and then for
all elements which have no attributes except for the SDA set.              -->

<!--      ELEMENT   NAME       VALUE           DEFAULT                     -->
<!ATTLIST abstract  %a.id;      
          %SDAPREF;                            "<h1>Abstract</h1>"           >

<!ATTLIST ack       %a.id; 
          %SDAPREF;                            "<h1>Acknowledgements</h1>"   >

<!ATTLIST aff       %a.id;                                                   >

<!ATTLIST afterwrd  %a.id;      
          %SDAPREF;                            "<h1>Afterword</h1>"          >

<!ATTLIST appendix  %a.id;
          %SDAPREF;                            "<h1>Appendix</h1>"           >

<!ATTLIST artwork   %a.id;
                    %a.sizes;
                    name       ENTITY          #IMPLIED
          %SDAFORM;                            "fig #attrib ID"              >

<!ATTLIST author    %au.rid;
          %SDAFORM;                            "au"                          >

<!ATTLIST biblist   file       ENTITY          #IMPLIED
          %SDAFORM;                            "list"
          %SDAPREF;                            "Bibliography"                >

<!ATTLIST chapter   %a.id; 
          SDABDY    NAMES      #FIXED          "title h1"
          SDAPART   NAMES      #FIXED          "title h2"                    >

<!ATTLIST citation  id         ID              #REQUIRED
                    HyTime     NAME            #FIXED bibloc
          %SDARULE;                            "title it
                                               author para
                                               corpauth para
                                               sertitle it"                  >

<!ATTLIST corpauth  %a.id;      
          %SDAFORM;                            "au"                          >

<!ATTLIST country   cnycode    NAME            #IMPLIED
                                              --name should follow ISO 3166-->

<!ATTLIST date      type       %d.types;
          %SDAPREF;                            "Date:"                       >

<!ATTLIST dd        %a.id; 
          %SDAFORM;                            "para"                        >

<!ATTLIST ded       %a.id; 
          %SDAPREF;                            "<h1>Dedication</h1>"         >

<!ATTLIST deflist   %a.id;      
          %SDAFORM;                            "list"
          %SDAPREF;                            "<?SDATRANS>Definitions "     >

<!ATTLIST %doctype; %a.id;      
                    HyTime     NAME            #FIXED HyDoc    
                    %SDAFORM;                  "book"                        >

<!ATTLIST fig       %a.id;
                    %a.sizes;
                    name       ENTITY          #IMPLIED
                    scale      NUMBER          100
          %SDAPREF;                            "<?SDATRANS>Figure: "         >

<!ATTLIST figgrp    %a.id;
          %SDARULE;                            "title para"                  >

<!ATTLIST footnote  %a.id;
          %SDAFORM;                            "fn"                          >

<!ATTLIST foreword  %a.id;      
          %SDAPREF;                            "<h1>Foreword</h1>"           >

<!ATTLIST glossary  %a.id;
          %SDAPREF;                            "<h1>Glossary</h1>"           >

<!ATTLIST index     %a.id;
          %SDAPREF;                            "<h1>Index</h1>"              >

<!ATTLIST indxflag  ref1       CDATA           #IMPLIED
                    ref2       CDATA           #IMPLIED
                    ref3       CDATA           #IMPLIED
                    ref4       CDATA           #IMPLIED                      >

<!ATTLIST intro     %a.id;      
          %SDAPREF;                            "<h1>Introduction</h1>"       >

<!ATTLIST item      %a.id;  
          %SDAFORM;                            "litem"                       >

<!ATTLIST note      %a.id;
          %SDAFORM;                            "note"                        >

<!ATTLIST nameloc   HyTime     NAME            nameloc
                    id         ID              #REQUIRED        
                    -- multloc attributes --
                    ordering   (ordered|noorder)
                                               noorder
                    -- is ordering of locations significant? --
                    set        (set|notset)    notset
                    -- make multiple a set by ignoring duplicates --
                    aggloc     (aggloc|agglink|nagg) 
                                               nagg
                    -- are multiple locations an aggregate? --          
          %SDAPREF;                            "<?SDATRANS>Nameloc:"         >

<!ATTLIST nmlist    HyTime     NAME            nmlist
                    nametype   (entity|element)
                                               entity
                    -- entity names or IDs of elements --
                    obnames    (obnames|nobnames)
                                               nobnames
                    -- objects treated as names? --         
          %SDAPREF;                            "<?SDATRANS>Namelist:"        >

<!ATTLIST p         %a.id;
                    alphabet   %a.types;
          %SDAFORM;                            "para"                        >

<!ATTLIST part 
          %SDARULE;                            "chapter #use SDAPART"        >

<!ATTLIST preface   %a.id;      
          %SDAPREF;                            "<h1>Preface</h1>"            >

<!ATTLIST %p.em.ph; type       %e.types; 
          %SDARULE;                            "[emph type=1] b
                                                [emph type=2] it
                                                [emph type=(3|4|5|6)] other" >

<!ATTLIST %p.lst.d; %a.id;
          type      %l.types;
          %SDAFORM;                            "list"
          %SDAPREF;         "[list type=1]#set (item,#count(item,1)) 
     [list type=2]#set (item,#count(item,A)) 
     [list type=3]#set (item,#count(item,I)) 
     [list type=4]#set (item,#count(item,'* ')) 
     [list type=5]#set (item,#count(item,'- '))"     >

<!ATTLIST (%p.rf.ph;)
                    %a.id;
                    %a.rid; 
                    HyTime     NAME            #FIXED clink
                    HyNames    CDATA           #FIXED "rid linkends"
          %SDAFORM;                            "xref #attrib IDREF"         >

<!ATTLIST %p.tbl;   %a.id; 
          %SDAFORM;                            "table"
          %SDARULE;                            "title h3
                                                head hdcell"
          %SDAPREF;                            "<?SDATRANS>"                >

<!ATTLIST q         %a.id;
                    alphabet   %a.types;
          %SDAPREF;                            "'"
          %SDASUFF;                            "'"                          >

<!ATTLIST section   %a.id;
          SDABDY    NAMES      #FIXED          "title h2"
          SDAPART   NAMES      #FIXED          "title h3"                   >

<!ATTLIST subsect1  %a.id;
          SDABDY    NAMES      #FIXED          "title h3"
          SDAPART   NAMES      #FIXED          "title h4"                   >

<!ATTLIST subsect2  %a.id;
          SDABDY    NAMES      #FIXED          "title h4"
          SDAPART   NAMES      #FIXED          "title h5"                   >

<!ATTLIST subsect3  %a.id;
          SDABDY    NAMES      #FIXED          "title h5"
          SDAPART   NAMES      #FIXED          "title h6"                   >

<!ATTLIST subsect4  %a.id;
          SDABDY    NAMES      #FIXED          "title h6"
          SDAPART   NAMES      #FIXED          "title b"                    >

<!ATTLIST (subsect5|subsect6)      
                    %a.id;
          SDABDY    NAMES      #FIXED          "title b"
          SDAPART   NAMES      #FIXED          "title b"                    >

<!ATTLIST term      %a.id;    
          %SDAFORM;                            "term"                       >

<!ATTLIST title     %a.id;
                    alphabet   %a.types;
                    purpose    (normal|run)    normal
          %SDAFORM;                            "ti"                         >


<!-- ===================================================================== -->
<!--    SDA ATTRIBUTES                                                     -->
<!-- ===================================================================== -->

<!-- The following declarations support elements whose only
     attributes are SDA attributes:                                        -->

<!ATTLIST acqno        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Acquisition/order number: "  >

<!ATTLIST avail        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Available from: "            >

<!ATTLIST body        
          %SDARULE;                            "chapter #use SDABDY "        >

<!ATTLIST bq         
          %SDAFORM;                            "bq"                          >

<!ATTLIST cpyrtclr        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Copyright clearance center: ">

<!ATTLIST coden        
          %SDAFORM;                            "para"
          %SDAPREF;                            "CODEN: "                     >

<!ATTLIST contract        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Contract or grant number: "  >

<!ATTLIST sponsor         
          %SDAFORM;                            "para"
          %SDAPREF;                            "(Contract or grant) sponsor:">

<!ATTLIST catalog        
          %SDAFORM;                            "para"
          %SDAPREF;                            "<?SDATRANS>Cataloguing in 
                                               publication information: "    >

<!ATTLIST cell 
          %SDAFORM;                            "cell"                        >

<!ATTLIST confgrp       
          %SDAFORM;                            "para"
          %SDAPREF;                            "Conference group: "          >

<!ATTLIST confname        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Conference name: "           >

<!ATTLIST cpyrt        
          %SDAFORM;                            "para"
          %SDAPREF;                            "<?SDATRANS>Copyright notice:">

<!ATTLIST ddhd       
          %SDAFORM;                            "lhead"                       >

<!ATTLIST email        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Electronic address: "        >

<!ATTLIST edition         
          %SDAFORM;                            "para"
          %SDAPREF;                            "<?SDATRANS>Edition: "        >

<!ATTLIST extent        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Number of pages: "           >

<!ATTLIST fax        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Fax number: "                >

<!ATTLIST head        
          %SDAFORM;                            "lhead"                       >

<!ATTLIST (indaddr|orgaddr)  
          %SDAFORM;                            "para"
          %SDAPREF;                            "Address: "                   >

<!ATTLIST (indxname|indxsubj)
          %SDAFORM;                            "term"                        >

<!ATTLIST isbn       
          %SDAFORM;                            "para" 
          %SDAPREF;                            "ISBN: "                      >

<!ATTLIST (keyphras|keyword)  
          %SDAFORM;                            "term"                        >

<!ATTLIST lccardno        
          %SDAFORM;                            "para"
          %SDAPREF;                            "LC card number: "            >

<!ATTLIST lit        
          %SDAFORM;                            "lit"                         >

<!ATTLIST location  
          %SDAFORM;                            "para"                   
          %SDAPREF;                            "Location: "                  >

<!ATTLIST notes     
          %SDAPREF;                            "<h1>Notes</h1>"              >

<!ATTLIST othinfo        
          %SDAFORM;                            "para"                        >

<!ATTLIST acidfree       
          %SDAFORM;                            "para"
          %SDAPREF;                            "Acid free paper indicator: " >

<!ATTLIST phone        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Phone: "                     >

<!ATTLIST pubid        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Publisher's ID number: "     >

<!ATTLIST package        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Packaging method: "          >

<!ATTLIST pubname       
          %SDAFORM;                            "para"
          %SDAPREF;                            "Publisher: "                 >

<!ATTLIST pages         
          %SDAFORM;                            "pp"                          >

<!ATTLIST price        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Price: "                     >

<!ATTLIST reportid        
          %SDAFORM;                            "para" 
          %SDAPREF;                            "Report identifier: "         >

<!ATTLIST reprint       
          %SDAFORM;                            "para"
          %SDAPREF;                            "Reprint source: "            >

<!ATTLIST row
          %SDAFORM;                            "row"                         >

<!ATTLIST san        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Standard address number: "   >

<!ATTLIST subtitle       
          %SDAFORM;                            "h1"                          >

<!ATTLIST subject        
          %SDAFORM;                            "it"                          >

<!ATTLIST supmatl       
          %SDAFORM;                            "para"
          %SDAPREF;                            "Supporting material: "       >

<!ATTLIST sertitle       
          %SDAFORM;                            "ti"                          >

<!ATTLIST tbody
          %SDAFORM;                            "tbody"                       >

<!ATTLIST tstub
          %SDAFORM;                            "stubcell"                    >

<!ATTLIST tsubhead
          %SDAFORM;                            "hdcell"                      >

<!ATTLIST toc        
          %SDAFORM;                            "list"
          %SDAPREF;                            "<?SDATRANS>Contents"         >

<!ATTLIST volid        
          %SDAFORM;                            "para"
          %SDAPREF;                            "Volume identifier: "         >

<!ENTITY SGMLDarc "SoftQuad Explorer&trade;">
<!ENTITY VerNo "1.0">
<!ENTITY Platform "Microsoft Windows&trade">
<!ENTITY #DEFAULT SYSTEM NDATA BMP>
<!ENTITY DocVer "&SGMLDarc; Version &VerNo for &Platform;">
